In [1]:
#=======================================================
# Scroll down and do the exercise from textbook first
#=======================================================

import pandas as pd
import numpy as np

df=pd.read_csv("usedcars.csv")
df.head(20)
#df.dtypes()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-door,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,5,2,?,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,7,1,?,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,9,0,?,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,10,2,192,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,11,0,192,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,12,0,188,bmw,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,13,0,188,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,14,1,?,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,15,0,?,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,16,0,?,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,17,0,?,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [1]:
####### Replace "question mark" value to NaN (null value) #########
#####################################################################
import pandas as pd
import numpy as np

df=pd.read_csv("usedcars.csv")

df = df.replace("?", np.nan) 
df.head(20)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-door,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,5,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,7,1,NaN,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN
10,10,2,192,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,11,0,192,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,12,0,188,bmw,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,13,0,188,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,14,1,NaN,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,15,0,NaN,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,16,0,NaN,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,17,0,NaN,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [3]:
# Assume that we want to replace the missing values of variable "normalized-losses" by the
#-- the mean value of the variable: the missing value must be replace by the average of the 
#-- entries within that column

import pandas as pd
import numpy as np
df=pd.read_csv("usedcars.csv")
#df.head(20)
#df.dtypes()
#df["normalized-losses"].head()
total=0
count=0
mean=0
for row in df["normalized-losses"]:
    if (row != "?"):
        total=total+int(row)
        count+=1
mean=total/count
print(total)
print(mean)
#df["normalized-losses"].head(20)
df["normalized-losses"] = df["normalized-losses"].replace("?", mean)
df.head()

20008
122.0

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-door,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
df["normalized-losses"].head()

0    122
1    122
2    122
3    164
4    164
Name: normalized-losses, dtype: object

In [15]:
####### Drop Row or Column Contains Missing Value #################### 
######################################################################
import pandas as pd
import numpy as np
df=pd.read_csv("usedcars.csv")

df = df.replace("?", np.nan) 

# Row 10 has missing price value (NaN) and we want to drop it.
#-- axis=0: drop the entire row
#-- axis=1: drop the column
df=df.dropna(subset=["price"], axis=0)
#df.head(20)
#df.shape

In [17]:
import pandas as pd
import numpy as np

df=pd.read_csv("usedcars.csv")
df.head(20)
#df.dtypes()
total=[]
count=0
df["normalized-losses"].value_counts()

?      41
161    11
91      8
150     7
128     6
134     6
104     6
74      5
102     5
85      5
65      5
95      5
94      5
103     5
168     5
118     4
106     4
122     4
148     4
93      4
154     3
101     3
115     3
125     3
137     3
83      3
110     2
145     2
89      2
158     2
192     2
87      2
194     2
119     2
164     2
197     2
188     2
129     2
81      2
113     2
108     2
153     2
78      1
90      1
142     1
256     1
121     1
186     1
231     1
107     1
98      1
77      1
Name: normalized-losses, dtype: int64

## these exercises are from Python Machine Learning textbook

In [3]:
#===============
# page 110
#===============
import pandas as pd
from io import StringIO

csv_data= \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''


print(csv_data) 
print(type(csv_data))
# csv_data is not csv file, it's a string.
# called it csv because elements are separated by comma.

A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,
<class 'str'>

- StringIO allows us to read string into DataFrame.
- Pandas automatically assign the first row as header.
- Notice the missing cells were replaced by NaN.

In [4]:
df = pd.read_csv(StringIO(csv_data)) 
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

- isnull is a method that returns a Data Frame with Boolean value that indicate whether a cell contains a numeric value (False) or if data is missing (True). This way, we can count the number of missing values per column:

In [5]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

### How to deal with missing data? 
#### 1. Eliminating training examples with missing values.

In [54]:

df.dropna(axis=0)
# axis=0: drop row contains NaN.

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [55]:
df.dropna(axis=1)
# axis=1" drop column contains NaN.

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [56]:
# only drop rows where all values are NaN
# (return the whole array since we do not have a row with all values NaN)
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [57]:

import pandas as pd
from io import StringIO

csv_data2= \
'''A,B,C,D
1,2,3,4
,,,
10,11,12,'''
df2 = pd.read_csv(StringIO(csv_data2)) 
df2
df2.dropna(how='all')
# only drop rows where all values are NaN

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [58]:
# drop rows that have fewer than 4 real values
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [59]:
# only drop rows where NaN appear in specific columns (here: 'C')
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

##### Remark: 
Although the removal of missing data seems to be a convenient approach, it also 
comes with certain disadvantages; for example, we may end up removing too many samples, which will make a reliable analysis impossible. Or, if we remove too many feature columns, we will run the risk of losing valuable information that our classifier needs to discriminate between classes. In the next section, we will look at one of the most commonly used alternatives for dealing with missing values: interpolation techniques.

#### 2. Imputing Missing Values:
One of the most common interpolation techniques is **mean imputation**, where we simply relace the missing value with the **mean value of the entire feature column**:

In [60]:
from sklearn.impute import SimpleImputer
import numpy as np
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
# The other options for the strategy parameter are "median" and "most_frequent"
print(df)

imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
imputed_data

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

Alternatively, we can obtain the same result by using **fillna** method and providing an imputation method as an argument:

In [61]:
df.fillna(df.mean())

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  8.0
2  10.0  11.0  12.0  6.0